/*esto es mobile first*/

.contenedor-imagen {
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.contenedor-imagen {
    width: 90%
}

.contenedor-imagen img {
    width: 100%
}


/*para ipad*/

@media all and (min-width: 768px) {
    .galeria {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contenedor-imagen {
        width: 45%;
        margin-bottom: 30px;
    }
}


/*para computadora*/

@media all and (min-width: 1024px) {
    .contenedor-imagen {
        width: 30%
    }
}